main {
  padding-top: 3rem;
  background: #ebdfff;
}

.about-us-section {
  background: url("../img/gamehub-founder.png") no-repeat;
  max-width: 90%;

  margin-left: auto;
  background-size: cover;
  font-size: 1.3rem;
  height: 80vh;
  min-height: 800px;
}

.about-us-text {
  max-width: 420px;
  margin-top: 1.5rem;
  line-height: 1.8rem;
  margin-left: 0;
}

.about-us-section article {
  padding-top: 2rem;
}

h1 {
  font-size: 2.2rem;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  border-bottom: 4px solid #e71e8b;
  display: inline-block;
  padding-bottom: 0.6rem;
}

.universe-of-games {
  margin-top: 5rem;
  font-size: 1.6rem;
}

@media (max-width: 1100px) {
  .about-us-section {
    background: transparent;
    max-width: 100%;
    min-height: 0;
  }

  h1 {
    width: fit-content;
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 1rem 2rem;
    margin: auto;
    max-width: 600px;
  }

  .about-us-text {
    max-width: 600px;
  }
  .img-mobile {
    background: url("../img/gamehub-founder.png") no-repeat;
    background-size: cover;
    height: 780px;
    width: 100%;

    text-align: center;
    background-position: bottom;
  }
}
@media (max-width: 800px) {
  .img-mobile {
    height: 550px;
  }

  .about-us-container {
    max-width: 450px;
    width: 80%;
    margin: auto;
  }
  .about-us-text {
    max-width: 450px;
  }
}
