.cart-container {
  /* visibility: hidden; */
  position: absolute;
  right: 0rem;
  top: 9.8rem;
  font-family: "DM Sans", sans-serif;
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #ebdfff;
  flex-direction: row-reverse;
  justify-content: start;
  max-width: 650px;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-bottom-left-radius: 0.3rem;
  padding-right: 2rem;
  height: 700px;
  overflow: hidden;
}
.cart-items-section {
  padding-bottom: 4rem;
  padding-right: 5rem;
}
.cart-items-container {
  /* position: relative;
  top: 9.8rem;
  top: 200px; */
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: start;
}
.cart-item {
  display: flex;

  font-size: 1.3rem;
  gap: 2rem;
  margin-top: 1.5rem;
  /* justify-content:; */
}
.cart-item-img {
  width: 120px;
  object-fit: cover;
  object-position: center 80%;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.cart-item-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.quantity-container {
  display: flex;

  width: 80px;

  align-items: center;
  justify-content: space-between;
}

.quantity-container button {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
}

.cart-btns button {
  font-size: 1.1rem;
  width: 240px;
}
.shop-more {
  border-color: #2d2267;
  color: #2d2267;
}

.checkout-section {
  display: flex;
  flex-direction: column;

  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 2rem 5%;
  padding-bottom: 4rem;
  background: #6540a0;
  color: #ebdfff;
}

.checkout-section .cart-total {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.checkout-section button {
  color: #ebdfff;
}

.checkout-section .shop-more {
  border-color: #ebdfff;
}

.cart-visibility {
  visibility: hidden;
}

@media (max-width: 1300px) {
  .cart-container {
    top: 11rem;
  }
}

@media (max-width: 800px) {
  .cart-container {
    flex-direction: column;
    top: 7.2rem;
    height: 1150px;
  }
  .cart-container {
    padding: 0;
  }
  .cart-items-section {
    padding: 2rem;
  }
}

/* CHANGE PAGE BTNS */

.cart-page-btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3rem;
}
.cart-page-btns button {
  width: 40px;
  height: 40px;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec4ca3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
