main {
  padding: 5% 1rem;

  background: #8f77b7;
}

.items-and-checkout {
  background: #ebdfff;
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 1400px;
  border-radius: 0.5rem;
  min-height: 70vh;
  margin: auto;
}
.cart-items-section {
  font-size: 1.5rem;
  padding: 5rem 2% 0 5%;
  /* color: #9163de; */
  width: 100%;
}

.cart-items-header,
.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  gap: 1rem;
  max-width: 700px;
  justify-content: space-between;
}

.cart-items-header {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3rem;
}

.cart-item {
  align-items: center;
  font-family: "DM Sans", sans-serif;
}

.cart-item-img {
  width: 140px;
  object-fit: cover;
  object-position: center 80%;
  height: 145px;
  border-radius: 1rem;
  align-self: center;
}

.cart-item-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
.quantity-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 110px;
  text-align: center;
  align-items: center;
}
.quantity-container button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background: #ec4ca3;
  cursor: pointer;
  font-size: 1.2rem;
}

.checkout-section {
  background: #4a3587;

  padding: 50% 2rem;
  border-radius: 0 0.5rem 0.5rem 0;

  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: #ebdfff;
  align-self: center;
}
h1 span {
  margin-left: 1.3rem;
  font-weight: bold;
  font-size: 2rem;
}

.cart-btns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 4rem;
}
