.contact-section {
  background: #ebdfff;

  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 1.5rem;
  gap: 10rem;
  padding: 5rem 5%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  max-width: 400px;
}

form input,
form textarea {
  width: 400px;
  margin: 30px auto 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
}
.contact-form button {
  width: 250px;
  background: #e71e8b;
  font-size: 1.5rem;
  border: none;
  margin-top: 2rem;
}

h1 {
  padding-bottom: 0.6rem;
  font-size: 2.7rem;
  align-self: start;
  border-bottom: 4px solid #e71e8b;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
}

h2 {
  align-self: start;
  font-size: 2rem;
}
.contact-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  line-height: 2.5rem;
}
.contact-text span {
  font-weight: bold;
}

/*VISIT US */
.visit-us-section {
  background: #ebdfff;
  font-size: 1.3rem;
}

.visit-us-container {
  padding: 10rem 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}

.visit-address {
  font-weight: bold;
}
