/* .game-description-section {
  background: #ebdfff;

  font-family: "DM Sans", sans-serif;
}

.description-top-half {

  min-height: 80vh;
  background-size: initial;
}

.image-and-details {
  margin: auto;
  display: flex;


  gap: 6rem;
  width: 100%;
  justify-content: center;
}

.game-img {
  max-width: 350px;

  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-self: center;
}

.header-details {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.3rem;
  gap: 1rem;
  width: 50%;
  padding: 10rem 0;
}
.header-text {
  font-size: 2.2rem;
}
.header-description {
  line-height: 1.8rem;
  width: 320px;
}

.header-details button {
  font-size: 1.1rem;
}

.genre-and-price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.genre-and-price p {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.quantity-container {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.device-container button {
  padding: 0.5rem 1rem;

  background: #ebdfff;
  font-weight: 500;
  border: 0.5px solid #2d2267;
  color: #2d2267;
  border-radius: 0.5rem;
}

.semi-bold {
  font-weight: 600;
}

.semi-bold span {
  font-weight: 400;
}

.change-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}
.change-quantity-container button {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: none;
  background: #9163de;
  cursor: pointer;
}

.total-price-container,
.quantity-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.total-price-container span {
  font-weight: bold;
  font-size: 1.5rem;
}
.add-to-cart {
  max-width: 305px;
}

@media (max-width: 800px) {
  .description-top-half {
    background: #ebdfff;
    padding-bottom: 5rem;
    min-height: 0;
  }
  .image-and-details {
    flex-direction: column;

    gap: 4rem;
  }
  .image-and-details img {
    width: 280px;
    transform: rotate(0deg);
  }

  .total-price-container,
  .quantity-container,
  .genre-and-price p,
  .header-details {
    width: 250px;
  }
  .change-quantity-container {
    width: 90px;
  }
  .header-details {
    gap: 2rem;
  }
} */

.game-description-section {
  background: #ebdfff;

  font-family: "DM Sans", sans-serif;
  min-height: 80vh;
}
.image-and-details {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 7rem;
  padding-left: 2rem;
}
.image-and-details img {
  width: 350px;
  box-shadow: rgba(50, 50, 93, 0.45) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
}
.header-details {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  font-size: 1.25rem;
  background: #fff;
  padding-left: 3rem;
  height: 700px;
  border-bottom-left-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex: 1;
}
.header-details h1 {
  font-size: 2rem;
}
.header-description {
  width: 350px;
}
.genre-and-price {
  max-width: 350px;
}
.header-details button {
  width: 250px;
}

.quantity-container,
.total-price-container {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  align-items: center;
}

.quantity-container {
}
.change-quantity-container {
  display: flex;
  gap: 0.5rem;
  /* padding: 0.5rem 1rem; */
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 15px;
  border-radius: 0.5rem;
  width: 170px;
  align-items: center;
  justify-content: space-between;
}

.change-quantity-container button {
  padding: 0.5rem 0;
  border: none;
  background: transparent;
  font-size: 1.3rem;
  cursor: pointer;
}
.price-container {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}
.game-old-price {
  text-decoration: line-through;
}
.game-price {
  font-weight: 600;
  color: #ec4ca3;
}
