header {
  background: linear-gradient(#190e41, #4a3587);
}

.slider-section {
}
.all-slides-container {
  display: flex;
  height: 900px;
  position: relative;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity 1.5s;
}

.slide-1 {
  opacity: 1;
  background-image: url(../img/slider-1.jpg);
  background-position: center center;
}

.slide-2 {
  background-image: url(../img/slider-2.jpg);
}

.slide-3 {
  background-image: url(../img/slider-3.jpg);
}

.slide-container {
  height: 900px;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 13%;
  padding: 0 0.5rem 0 2rem;
}

.slide-image {
  max-width: 400px;
  width: 40%;
  transform: rotate(-6deg);
  box-shadow: rgba(15, 15, 15, 0.54) 0px 10px 20px,
    rgba(0, 0, 0, 0.49) 0px 6px 6px;
  border: 6px solid #3fa535;
  border-radius: 0.5rem;
}

.slide-content {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  font-size: 1.5rem;
  color: #ebdfff;
  max-width: 500px;
}

.slide-price-container {
  font-family: "DM Sans", sans-serif;
  display: flex;
  gap: 2rem;
  font-weight: 600;
}

.slide-old-price {
  color: rgba(235, 223, 255, 0.63);
  text-decoration: line-through;
}

.slide-new-price {
  color: #ec4ca3;
}

.slider-btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.slider-btns button {
  max-width: 250px;
  margin: 0 1rem 1rem 0;
  transition: 0.3s;
}

.article-buy {
  background: #ec4ca3;
  border: none;
}

.article-buy:hover {
  background: #ff83c7;
}

.slider-btns .article-read-more {
  background: transparent;
  color: #ebdfff;
  border: 2px solid #ebdfff;
}

.article-read-more:hover {
  background-color: #ebdfff;
  color: #2d2267;
  border-color: #2d2267;
}

/* ALL GAMES SECTION */
.all-games-section {
  padding: 12rem 2%;
}

/* CATEGORY */
.category-container h3 {
  font-size: 2rem;
  line-height: 5rem;
}

h3,
.categories-form label {
  font-weight: bold;
  /* border-bottom:  */
}

.category-container {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;

  width: 1360px;
}
.categories-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.categories-form label {
  font-size: 1.5rem;
  color: #2d2267;
  text-transform: uppercase;
  font-weight: 600;
}

.categories-form select {
  font-size: 1.3rem;
  font-weight: 550;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  list-style: armenian;
  /* background: linear-gradient(to left, #ff94ce, #f167b2, #ec4ca3); */
  background: none;
  border: none;
  border-bottom: 3px solid #ec4ca3;
  text-transform: uppercase;
  cursor: pointer;

  color: #2d2267;
}

.categories-form option {
  margin: 1.5rem 1rem;
  background: #ebdfff;
  line-height: 4rem;
  text-transform: none;
  font-weight: bold;
}

.choose-category {
  font-weight: normal;
}

/* CYBERPUNK game*/
.cyberpunk-section {
  background: url(/img/background-cyber.jpg) no-repeat;
  max-width: 100%;
  /* height: 1050px; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem 0 0;
  align-items: end;
  gap: 0.5rem;
}

.arrows-and-chars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
  gap: 3rem;
  max-width: 100%;

  position: relative;
  height: 100%;
}
.arrows-pick {
  justify-self: center;
  display: flex;
  justify-content: space-between;

  width: 220px;

  max-width: 35%;
}

.neon-pink {
  background: linear-gradient(180deg, #fa67ac 0%, #ffb1d6 100%);
  filter: drop-shadow(0px 0px 15px #fa67ac);
}

.neon-green {
  background: linear-gradient(180deg, #52ff00 0%, #9dff6f 100%);
  filter: drop-shadow(0px 0px 15px #52ff00);
}

.neon-blue {
  background: linear-gradient(180deg, #00cfff 0%, #9cecff 100%);
  filter: drop-shadow(0px 0px 15px #00cfff);
}

.arrows-pick i {
  color: #2d2267;
  font-size: 2.2rem;
  /* background: linear-gradient(180deg, #00cfff 0%, #9cecff 100%);
  filter: drop-shadow(0px 0px 15px #00cfff); */
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cyber-characters {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.cyber-char {
  position: relative;
  /* position: absolute; */
  /* top: 50%; */
  left: 2rem;
  display: none;
  opacity: 0;

  max-width: 100%;
}

.cyberpunk-1 {
  left: 3rem;
}

.cyberpunk-2 {
  left: -2rem;
}

.cyberpunk-3 {
  left: -0.5rem;
}

.active {
  display: flex;
  animation: changeChar ease-in-out 0.9s 1 normal forwards;
}

@keyframes changeChar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cyberpunk-main-container {
  padding-top: 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 40%;
  max-width: 500px;
  color: #ebdfff;
  font-size: 1.3rem;
  height: 50%;
  font-size: 1.5rem;
  /* background: #000; */
}

.cyber-name {
  font-family: "Rock Salt", sans-serif;
  display: inline-block;
}

.cyber-description {
  padding-bottom: 2rem;
}

.cyber-btns {
  display: flex;
  justify-content: space-between;
  width: 420px;
  border: none;
}

.cyber-buy-btn {
  border: none;
}

.cyber-btns .cyber-read {
  background: transparent;
  color: #ebdfff;
  border: 2px solid #ebdfff;
}

@media (max-width: 1300px) {
  .cyberpunk-section {
    flex-direction: column;
    background-size: auto;
    align-items: center;
    justify-content: start;
    padding: 2rem 0 2rem 0;
    margin: 0;
    background-position: top;

    gap: 0;
  }

  .arrows-and-chars {
    padding-top: 3rem;
    width: 620px;
  }

  /* .arrows-pick {
    max-width: 90%;
  } */
  .cyberpunk-main-container {
    width: 100%;

    background: #150e2e;

    min-height: 100%;
    min-width: 100%;
    padding: 2.5rem 2rem 3.5rem;
    align-items: center;
  }
  .cyber-description {
    max-width: 750px;
  }
}

@media (max-width: 1000px) {
  .slide-container {
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
    padding: 0 1rem;
    gap: 5%;
  }
  .slide-image {
    width: 300px;
    transform: rotate(0);
  }

  .slide-content {
    gap: 1.5rem;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .category-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .slide-content {
    align-items: center;
    text-align: center;
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .slide-image {
    width: 230px;
  }
  .slider-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider-btns button {
    width: 95%;
    min-width: 250px;
  }
}
