*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #c7b8ff;
  width: 100%;
  margin: auto;
  max-width: 2000px;
  font-family: "Raleway", sans-serif;
  color: #2d2267;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  color: #2d2267;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.1rem 2.5rem;
  text-align: center;
}

.transparent-btn {
  background: transparent;
  border: 2.5px solid #ebdfff;
  color: #ebdfff;
}
.pink-btn {
  border: none;
  background: #ec4ca3;
}

.semi-bold {
  font-weight: 600;
}

.pink-bottom-border {
  border-bottom: 3px solid #ec4ca3;
}

header,
nav,
nav ul {
  display: flex;
}

header {
  background: linear-gradient(#190e41, #4a3587);
  padding: 2.5rem 10%;
  z-index: 9999;
  position: relative;

  justify-content: space-between;
}

nav {
  z-index: 9999;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

nav ul {
  gap: 2rem;
  font-size: 1.25rem;
}

header nav li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: #fff;
  /* font-family: "DM Sans", sans-serif; */
  /* text-transform: uppercase; */
}

header nav i {
  color: #fff;
}

header nav input {
  padding: 0.3rem;

  border-radius: 0.5rem;
  width: 300px;
  font-size: 1.3rem;
}
.hamburger-menu {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* HEADER - NAV */

.hamburger-menu {
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}

.shopping-cart-icon i {
  font-size: 1.8rem;
}

.pages-and-cart {
  display: flex;
  gap: 3rem;
}

/* best sellers */

.games-section {
  background: #ebdfff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-items: center;
}

.games-container {
  display: flex;
  min-height: 550px;
  gap: 1.8rem;
  width: 90%;
  flex-wrap: wrap;
  max-width: 1400px;
  align-items: center;
  position: relative;
  justify-content: center;
}

.game-cover {
  background: #2d2267;
  /* border: 0.4rem solid transparent; */
  padding: 0.7rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 6px 15px;
  border: 2px solid #8c889e;
  position: relative;
  height: 430px;
  transition: transform 0.5s;
}

.game-cover:hover {
  transform: translateY(-1rem);
}

.game-cover img {
  width: 300px;
  height: 340px;
  object-fit: cover;
  object-position: 0 80%;
  border-radius: 0.3rem 0.3rem 0 0;
  border: 0.5px solid #251a57;
  border-bottom: none;
}

.on-sale::before {
  content: "Sale";
  position: absolute;
  top: -3%;
  left: -3%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* background: linear-gradient(to left, #cf17cf, #ec4c7f, #d33db0); */
  background: #ec4ca3;
  color: #251a57;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid #1d6623; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  line-height: 1.2rem;
  letter-spacing: 2.5px;
}

.on-sale::after {
  content: attr(data-before);
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 71.1%;
  left: 56.7%;
  width: 8rem;
  height: 3rem;

  border-top-left-radius: 5%;
  /* background: linear-gradient(to left, #a624c0, #b12de5, #b140ee); */
  background: #a3ec4c;

  color: #251a57;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid #1d6623; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  line-height: 1.2rem;
}

.old-price {
  text-decoration: line-through;
  font-size: 90%;
  color: #e71e8b;
}

.price-tag {
  font-weight: bold;
}

.game-content {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  color: #ebdfff;
  font-size: 1.2rem;
  gap: 1rem;
  max-width: 300px;
  align-items: center;
}

.header-and-see-more {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  max-width: 95%;
}

.see-all-games {
  color: #2d2267;

  text-transform: uppercase;
  font-size: 1.3rem;
}

/* FOOTER */
footer {
  background: #251a57;
  color: #ebdfff;
  display: flex;
  justify-content: space-between;
  padding: 3rem 10%;
  font-size: 1.2rem;
  height: 250px;
}

.newsletter-subtext {
  max-width: 360px;
}

.email-subscribe {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.email-subscribe input {
  padding: 0.6rem;
  width: 350px;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.email-subscribe button {
  width: 140px;
  border: none;
  background: #ec4ca3;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  margin: auto;
}

.footer-contact a {
  font-family: "Raleway", sans-serif;
  text-transform: none;
  color: #ebdfff;
}

.footer-header {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.so-me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 0.8rem;
}

.footer-icons i {
  /* padding: 1rem; */
  width: 3.5rem;
  height: 3.5rem;
  background: #ebdfff;
  border-radius: 50%;
  color: #251a57;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.now-sale-text {
  animation: textGrow 1.5s infinite ease-in-out;
  height: 3rem;
}

@keyframes textGrow {
  0% {
    font-size: 2rem;
  }

  100% {
    font-size: 2.9rem;
  }
} */

@media (max-width: 1600px) {
  /* .games-section > * {
    max-width: 680px;
  } */
}
@media (max-width: 1300px) {
  header nav {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 2rem;
    gap: 3rem;
  }

  .newsletter-subtext {
  }

  .email-subscribe input {
    width: 100%;
  }
}

@media (max-width: 800px) {
  main {
    /* padding-top: 6rem; */
  }
  .main-header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.2rem 7%;
    display: flex;
    align-items: center;
  }

  nav ul {
  }

  header nav ul {
    right: 0;

    gap: 0.5rem;
    top: 7rem;
    left: 0;
    position: absolute;
    width: 100%;
    background: #4a3587;
    padding: 4rem 0 6rem;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #190e41;
    /* height: 300px; */
    z-index: 999;
  }

  header .search-bar {
    position: absolute;
    left: 10%;
    top: 23.5rem;
    display: flex;
    width: 80%;
    justify-content: center;
    z-index: 9999;
    align-items: center;
    gap: 0.5rem;
  }

  .hamburger-cart {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    position: absolute;
    right: 3rem;
    top: 2rem;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
  /* 
  .shopping-cart-icon i {
    font-size: 2.5rem;
  } */

  nav ul li a {
    padding: 1rem 0;
    display: block;
  }
  .search-and-cart {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  /* .search-and-cart input {
    padding: 0.3rem;
    width: 90%;
    max-width: 450px;
    margin: 0;
    font-size: 1.3rem;
  } */

  .hamburger-menu {
    display: inline-block;
  }

  .nav-hidden {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  html {
    font-size: 85%;
  }
  .email-subscribe {
    flex-direction: column;
  }
  .email-subscribe button {
    width: 100%;
  }
}
