*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9890b6;
  width: 100%;
  margin: auto;
  max-width: 2000px;
  font-family: "Raleway", sans-serif;
  color: #2d2267;
}

h1,
h2,
h3,
h4,
button {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  color: #2d2267;
  border-radius: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.15rem;
  padding: 1.1rem 2.5rem;
}

.semi-bold {
  font-weight: 600;
}

.pink-bottom-border {
  border-bottom: 3px solid #ec4ca3;
}

/* HEADER */
header {
  z-index: 999;
  width: 2000px;
  max-width: 100%;
}
.login-and-search,
.logo-and-pages {
  display: flex;
  padding: 1.5rem 3rem;

  text-transform: uppercase;
}

.login-and-search {
  justify-content: right;
  gap: 1.5rem;
  /* background: #190e41; */
}

.logo-and-pages {
  justify-content: space-between;

  display: flex;
  align-items: center;
}

.nav-pages {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.logo {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 10%;
  font-weight: bold;
}

header nav li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}

/* Parallax effect */
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;

  max-width: 2000px;

  overflow-x: hidden;

  margin: auto;
}
.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  position: absolute;
  transform: translate(-50%, -50%);
}

.bg-img {
  width: 190%;
  top: 35%;
  left: 45.6%;
  z-index: 1;
}

.koopa1 {
  width: 4.2%;
  top: 19%;
  left: 35%;
  z-index: 4;
}
.koopa2 {
  width: 5.1%;
  top: 20%;
  left: 27.5%;
  z-index: 5;
}

.sonic {
  width: 10.5%;
  top: 29%;
  left: 9%;
  z-index: 10;
}

.planet-ice {
  width: 17.5%;
  top: 30.3%;
  left: 32.3%;
  z-index: 13;
}
.koopa3 {
  width: 7.6%;
  top: 27%;
  left: 30.3%;
  z-index: 14;
}

.diddy-kong {
  width: 13.5%;
  top: 38%;
  left: 111%;
  z-index: 15;
}

.meteor-1 {
  width: 15%;
  top: 33.3%;
  left: 57%;
  z-index: 16;
}

.flying-turtle {
  width: 10%;
  top: 20.3%;
  left: -7%;
  z-index: 17;
}

.planet-green {
  width: 17%;
  top: 72.3%;
  left: 18%;
  z-index: 17;
}

.fog8 {
  width: 22.3%;
  top: 77.5%;
  left: 27%;
  z-index: 18;
}

.peach {
  width: 20.5%;
  top: 52%;
  left: 34%;
  z-index: 20;
}

.big-boo {
  width: 11%;
  top: 31%;
  left: 75.2%;
  z-index: 23;
}

.meteor-2 {
  width: 29%;
  top: 58.5%;
  left: 32%;
  z-index: 23;
}

.flying-mario {
  width: 20%;
  top: 70%;
  left: -20.5%;
  z-index: 24;
}

.wario {
  width: 24%;
  top: 88%;
  left: 3.5%;
  z-index: 25;
}

.fog10 {
  width: 56%;
  top: 89.5%;
  left: 64%;
  z-index: 26;
}

.luigi {
  width: 30%;
  top: 83%;
  left: 94%;
  z-index: 30;
}

.star3 {
  width: 15%;
  top: 89%;
  left: 45.5%;
  z-index: 35;
}

.toad {
  width: 38%;
  top: 99%;
  left: 66.5%;
  z-index: 35;
}

/* .main-text {
  width: 100%;
  top: 90%;
  left: -15%;
  z-index: 99;
  font-size: 5rem;
  text-transform: uppercase;
  color: #ebdfff;
} */

.hidden {
  visibility: hidden;
}

/* best sellers */

.games-container {
  display: flex;

  gap: 2.5rem;
  width: 90%;
  flex-wrap: wrap;
  max-width: 1400px;
}

.game-cover {
  background: #2d2267;
  /* border: 0.4rem solid transparent; */
  padding: 0.7rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 2px solid #8c889e;
  position: relative;
}

.game-cover:hover {
  /* border-color: #ec4ca3; */
  transition-duration: 0.4s;
}

.game-cover img {
  width: 300px;
  height: 340px;
  object-fit: cover;
  object-position: 0 80%;
  border-radius: 0.3rem 0.3rem 0 0;
  border: 0.5px solid #251a57;
  border-bottom: none;
}

.on-sale::before {
  content: "Sale";
  position: absolute;
  top: -3%;
  left: -3%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(to left, #020a01, #0f751b, #488054);
  color: #ebdfff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid #1d6623; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  line-height: 1.2rem;
}

.on-sale::after {
  content: attr(data-before);
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 71.5%;
  left: 56.7%;
  width: 8rem;
  height: 3rem;

  border-top-left-radius: 5%;
  background: linear-gradient(to left, #1d0503, #b21d0e, #210b0a);
  color: #ebdfff;
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5px solid #1d6623; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  line-height: 1.2rem;
}

.old-price {
  text-decoration: line-through;
  font-size: 90%;
  color: #c44545;
}

.price-tag {
  font-weight: bold;
}

.game-content {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  color: #ebdfff;
  font-size: 1.2rem;
  gap: 1rem;
  max-width: 300px;
  align-items: center;
}

.header-and-see-more {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.see-all-games {
  color: #2d2267;
  text-transform: uppercase;
  font-size: 1.3rem;
}
